
.upload-image{
/*  padding-left: 50px; */
    width: 100%;
}
#uploadDiv{
 float: left;
 border: 0px solid #aaa;
 width:100%;

}
.fileToUpload {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    height: 170px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.upload {
    background: url("../images/select_image2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
   
    overflow: hidden;
    background-size: 100% 100%;
  height: 45%;
 width: 100%;   

}