
.upload-image{
/*  padding-left: 50px; */
    width: 100%;
}
#uploadDiv{
 float: left;
 border: 0px solid #aaa;
 width:100%;

}
.fileToUpload {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    height: 170px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.upload {
    background: url("../images/select_image2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
   
    overflow: hidden;
    background-size: 100% 100%;
  height: 45%;
 width: 100%;   

}
 input:disabled{
	color:grey;
} 
textarea:disabled{
	color:grey;
}
.stepbutton{
width:133px !important;
background-color:#47AB47;
margin-top: 5px;
border-radius:5px;
height:35px;
}
.stepbutton2{
width:133px !important;
background-color:#FF3300;
margin-top: 5px;
border-radius:5px;
height:35px;
}
.publishButton{
width:135px !important;
background-color:#47AB47;
margin-top: 5px;
border-radius:5px;
height:35px;
}
.publishButton2{
width:135px !important;
background-color:#ff3300;
margin-top: 5px;
border-radius:5px;
height:35px;
}
.textlogin
{
    padding-left: 20px;
	border:1px solid #C4DBE6;	
	border-radius:5px;	
	height: 40px;	
	width: 100%;
}

.tasksubmit{
background-color: rgb(30, 146, 255);
    border-radius: 6px;
    height: 40px;
    margin-top: 5px;
    width: 100px;
	float:right;
}
.descriptionText
{
	padding-top:10px;
    padding-left: 20px;
	border:1px solid #C4DBE6;	
	border-radius:5px;	
	height: 80px;	
	width: 100%;
}
.btn:hover{
color:white !important;
}
.btn{
color:white !important;
}