<html>
	<head>
	<title>User Registration</title>
	<script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/javascripts/userregistration.js"></script>

	</head>
	<body>
		<h3> User Registration:</h3>
		<form action="/user/activate" onsubmit="return validate()" method="post">
			<input type="hidden" id="username" name="username" value="<%= username %>" />
			<div style="margin-top:1%">
				<label>Name:</label>
				<input type="text" placeholder="Access Code" id="accesscode" name="accesscode" tabindex="1" onfocus="removeMessage('errUserName');" autocomplete="off">
				<label style="color:red;" id="errUserName"></label>
			</div>
			
			<div style="margin-top:1%">
				<input type="submit" name="submit" value="Activate"   tabindex="6" />
			</div>
		</form>
	</body>
</html>